body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #f4f4f4;
	display: flex;
}
.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: auto;
}
h2 {
	text-align: center;
	color: #333;
}
/* Завдання 1: Валідація форми */
.form-group {
	margin-bottom: 15px;
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
input[type="text"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
button {
	width: 100%;
	padding: 10px;
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
button:hover {
	background-color: #4cae4c;
}
.error-field {
	border: 2px solid red;
	background-color: #ffebeb;
}
.error-message {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
}

/* Завдання 2: Таблиця 6x6 */
input[type="color"] {
	width: 100%;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
}
td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
